<?xml version="1.0"?>
<OrleansConfiguration xmlns="urn:orleans" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <Globals xdt:Transform="Insert">

    <SeedNode Address="localhost" Port="11111" />

    <StorageProviders>
      <Provider Type="Orleans.Storage.MemoryStorage" Name="Default" />
      <Provider Type="Orleans.Storage.MemoryStorage" Name="PubSubStore" />
    </StorageProviders>

    <StatisticsProviders>     
      <Provider Type="SBTech.OrleansStatsDUtils.StatsDStatisticsProvider" Name="StatsDStatisticsProvider" />
    </StatisticsProviders>
  </Globals>
  <Defaults xdt:Transform="Insert">

    <Networking Address="localhost" Port="11111" />
    <ProxyingGateway Address="localhost" Port="30000" />

    <Tracing TraceToFile="" TraceLevel="Verbose" />

  </Defaults>
</OrleansConfiguration>